<manifest package="net.suweya.photopicker"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".PhotoPickerActivity"
            android:configChanges="screenSize|keyboard|screenLayout"
            android:theme="@style/PhotoPickerTheme"
            android:label="@string/photo_picker"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".preview.ImagePreviewActivity"
            android:configChanges="screenSize|keyboard|screenLayout"
            android:theme="@style/ImagePreviewTheme"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
